@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Major+Mono+Display|Inconsolata");

/* Reset and Basic Styles */
html, body {
  width: 100%;
  font-size: 15px;
  font-family: "Inconsolata", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: rgb(240, 240, 240);
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

a {
  font-family: "Inconsolata", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Header Styles */
.name {
  font-family: "Roboto Mono", sans-serif;
  font-size: 30px;
  margin: 0;
}

.titleCard {
  display: flex;
  flex-direction: column;
}

.medialinks {
  align-items: end;
  display: flex;
  flex-direction: row;
}

.contact {
  margin: 0;
}

/* Content Styles */
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.personal {
  max-width: 65%;
  margin-top: 2rem;
}

.program {
  font-size: 18px;
  margin: 0;
}

.ul {
  border-bottom: 2px solid black;
  margin: 12px 0;
}
